<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Velochain</title>
</head>

<body>
    <!-- start header -->
    <section class=" h-16 bg-white border-b flex justify-center fixed w-full z-50">
        <div class="max-w-7xl w-full flex">
            <div class="my-auto px-5 md:px-0 flex justify-between w-full">
                <!-- logo -->
                <section class="flex space-x-2">
                    <img src="./media/lg-velochain.svg" class="h-7" alt="">
                    <div class="font-primary uppercase text-xl font-semibold text-slate-800">Velochain</div>
                </section>
                <!-- button -->
                <section class="hidden md:block">
                    <div class="h-full flex">
                        <div class="flex space-x-4 my-auto">
                            <!-- <a href="#our_product">
                                <div
                                    class="font-primary text-slate-700 hover:text-blue-500 transition-colors text-sm font-medium">
                                    Our Product
                                </div>
                            </a>
                            <a href="#about_us">
                                <div
                                    class="font-primary text-slate-700 hover:text-blue-500 transition-colors text-sm font-medium">
                                    About Us
                                </div>
                            </a> -->
                            <a href="#contactus">
                                <div
                                    class="font-primary text-slate-700 hover:text-blue-500 transition-colors text-sm font-medium">
                                    Contact Us
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- end header -->

    <!-- start main body -->
    <section class="pt-16 px-5 md:px-0">
        <!-- start title -->
        <section class="flex justify-center md:py-40 py-10">
            <div class="space-y-4">
                <div
                    class="font-primary text-slate-700 bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent md:text-5xl text-2xl font-semibold text-center tracking-tight">
                    Empowering
                    Suppliers to <br class="hidden md:block">
                    Thrive
                    and Go Green.
                </div>
                <div class="text-center font-primary text-slate-500 font-light sm:text-lg">Upgrade Your
                    Machinery and
                    Energy
                    Sources to Secure
                    More Contracts</div>
                <!-- button -->
                <a href="#contactus" class="flex justify-center">
                    <div
                        class="py-3 px-5 text-sm font-medium text-center text-white border rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 font-primary">
                        Contact Us</div>
                </a>
            </div>
        </section>
        <!-- end title -->


        <section class=" pb-20 space-y-20 md:space-y-40">
            <!-- About Us -->
            <section class=" flex justify-center">
                <div class="max-w-7xl">
                    <div class="md:grid md:grid-cols-2 gap-10 space-y-4 md:space-y-0">
                        <div>
                            <img src="./media/bg-hero.png" alt="" class="rounded-3xl aspect-square w-full">
                        </div>
                        <div class="flex justify-center">
                            <div class="my-auto text-center md:text-left space-y-4">
                                <div>
                                    <div class="text-sm font-primary font-medium text-slate-600">About Velochain</div>
                                    <div
                                        class="md:text-4xl text-2xl font-primary font-medium text-slate-800 bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent">
                                        Driving Sustainability and Trust in the Industrial Sector</div>
                                </div>
                                <div class="sm:text-lg  font-primary text-justify font-light text-slate-600">Velochain
                                    is dedicated
                                    to helping suppliers overcome these challenges by reducing their carbon footprint
                                    and
                                    improving their operational efficiency while building trust with partners. <br><br>
                                    By
                                    leveraging
                                    advanced technology and sustainable practices, Velochain aims to reduce 100 megatons
                                    of
                                    carbon in Southeast Asia and achieve $100 million in annual revenue.
                                </div>
                            </div>
                        </div>
                        <!-- end  text for mobile -->
                    </div>
                </div>
            </section>
            <!-- End about us -->



            <!-- start Our Products -->
            <section class="flex justify-center bg-white" id="our_product">
                <div class="max-w-7xl w-full space-y-8">
                    <div
                        class="font-primary text-slate-700 md:text-4xl text-2xl font-semibold text-center bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent">
                        Our Products
                    </div>
                    <div class="md:grid md:grid-cols-3 gap-3 w-full max-w-7xl space-y-4 md:space-y-0">
                        <!-- product 1 -->
                        <div class="p-10 rounded-3xl border space-y-6">
                            <img src="./media/img_Machinery.jpg" class="object-cover rounded-xl w-full" alt="">
                            <div class="space-y-1">
                                <div class="font-primary font-medium text-slate-700 text-2xl">Machinery Upgrades</div>
                                <div class="sm:text-lg font-primary font-light text-slate-600">Modernize your equipment
                                    to
                                    improve efficiency and reduce emissions.</div>
                            </div>
                        </div>
                        <!-- end product 1 -->

                        <!-- product 2 -->
                        <div class="p-10 rounded-3xl border space-y-6">
                            <img src="./media/img_energy.jpg" class="object-cover rounded-xl w-full" alt="">
                            <div class="space-y-1">
                                <div class="font-primary font-medium text-slate-700 text-2xl">Energy Source
                                    Transformation</div>
                                <div class="sm:text-lg font-primary font-light text-slate-600">Transition to renewable
                                    energy sources like solar and wind power.</div>
                            </div>
                        </div>
                        <!-- end product 2 -->

                        <!-- product 3 -->
                        <div class="p-10 rounded-3xl border space-y-6">
                            <img src="https://images.pexels.com/photos/4098215/pexels-photo-4098215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                class="object-cover rounded-xl aspect-square w-full" alt="">
                            <div class="space-y-1">
                                <div class="font-primary font-medium text-slate-700 text-2xl">Sustainability Consulting
                                </div>
                                <div class="sm:text-lg font-primary font-light text-slate-600">Get expert advice on
                                    implementing sustainable practices and achieving compliance with environmental
                                    regulations.</div>
                            </div>
                        </div>
                        <!-- end product 3 -->
                    </div>
                </div>
            </section>
            <!-- end our product -->

            <!-- contact us -->
            <section class="bg-white" id="contactus">
                <div class=" px-4 mx-auto max-w-screen-md font-primary">
                    <h2
                        class="mb-4 text-4xl tracking-tight font-semibold text-center text-gray-700 bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent">
                        Contact Us</h2>
                    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-lg">Need
                        details about our Business
                        plan? Let us know..</p>
                    <form action="https://api.web3forms.com/submit" method="POST" class="space-y-8">
                        <input type="hidden" name="access_key" value="555e2d54-1d1e-4297-a7fe-312f989cab74">
                        <div>
                            <label for="Your Name"
                                class="block mb-2 text-sm font-medium text-slate-800 dark:text-gray-300">Your
                                Name</label>
                            <input type="text" id="Your_Name" name="name"
                                class="block p-3 w-full text-sm text-slate-800 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 "
                                placeholder="Let us know what is your name?" required>
                        </div>
                        <div>
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-slate-800 dark:text-gray-300">Your
                                email</label>
                            <input type="email" id="email" name="email"
                                class="shadow-sm bg-gray-50 border border-gray-300 text-slate-800 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "
                                placeholder="name@velochain.com" required>
                        </div>
                        <div>
                            <label for="company"
                                class="block mb-2 text-sm font-medium text-slate-800 dark:text-gray-300">Your
                                company</label>
                            <input type="text" id="company" name="company"
                                class="shadow-sm bg-gray-50 border border-gray-300 text-slate-800 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "
                                placeholder="Input your company name" required>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="message"
                                class="block mb-2 text-sm font-medium text-slate-800 dark:text-gray-400">Your
                                message</label>
                            <textarea id="message" rows="6" name="message"
                                class="block p-2.5 w-full text-sm text-slate-800 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
                                placeholder="Leave a message..."></textarea>
                        </div>
                        <button type="submit"
                            class="py-3 px-5 text-sm text-white font-medium text-center text- border rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 ">Send
                            message</button>
                    </form>
                </div>
            </section>
            <!-- end contact us -->
        </section>
    </section>
    <!-- end main body -->


</body>

</html>